<h1>Posts -> index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<button style="height:40px;"><%= link_to "Create New Post", {:action => 'new' }%></button>

<h2>Published Posts</h2>
<br>

<% @posts.each do |post| %>
  <div>
  <h2><%= post.title %></h2>
  <div><%= truncate(post.body, :length => 35) %></div>
  <button style="height:40px;"><%= link_to "Read full Post", post%></button>
  </div>

<% end %>
